
@{
    ViewBag.Title = "Calculator";
}

<h1>Calculator</h1>
@using(Html.BeginForm("Result", "Home", FormMethod.Get))
{
    @Html.TextBox("nbr1");
    @Html.TextBox("nbr2");
    <select name="op">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">*</option>
        <option value="/">/</option>
    </select>
    <input type="submit" value="Let the magic happen !" />
}

@if (ViewBag.res != null)
{
    <p>Result : @ViewBag.res</p>
}